.row {
    display: flex;
    /* background-image: url('./media/boxes/moovingstars.gif'); */
    background-color: black;
}

.box {
    background-image: url('./media/boxes/stars.gif');
    /* background-color: skyblue; */
    /* position: relative; */
    margin: 2px;
    height: 70px;
    width: 70px;
}

.unreachable {
    /* background-color: blueviolet; */
    background-image: url('./media/asteroid70px.png');
    /* position: absolute; */
}